<% provide :page_title, 'Home' %> <!Podpis w ikonke "Kakaja stranica">


<h1><%= t'.title'%></h1> <!Leniwyj perewod>

<!%= image_tag("maksym.jpg") %>
<p><img src="assets/maksym.jpg" 
width="310"
height="400"></p>


<p><%= t'.text'%></p>
&copy;@maks <%= Time.now.year%>
