<% provide :page_title, 'Home' %> <!Podpis w ikonke "Kakaja stranica">


<h1><%= t'.title'%></h1> <!%= t'.title'% Leniwyj perewod>
<p>Find me in app/views/home/index.html.erb</p>

&copy;@maks <%= Time.now.year%>
