<h1>Thanks</h1>
<h1>List of Contacts!</h1>  <!# Wywod wsech Contacts!>


<h2><%= @contact.email %></h2>

<h2><%= @contact.text %></h2>



<!h1><!%= @contact.email %></h1>

<h1><!%= @contact.text %></h1>